<!-- addItem.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EJS Engine</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <h1>Add Item</h1>
        <form method="post" action="/add/post">
          <div class="form-group">
            <label for="item">Item</label>
            <input type="text" class="form-control" id="item" name="item">
          </div>
          <button type="submit" class="btn btn-default">Add</button>
        </form>
    </div>
  </body>
</html>
