<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../favicon.ico">
<title>AllTokenData.com</title>

<link rel="stylesheet"           href="main.css">
<link rel="stylesheet alternate" href="styles/css/light_adminux.css" title="Light">
<link rel="stylesheet alternate" href="styles/css/dark_grey_adminux.css"  id="darkTheme"  title="Dark">

<script src="styles/js/theme.js"></script>
<script src="styles/js/jquery.cookie.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109311397-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109311397-1');
</script>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5378013110367987",
    enable_page_level_ads: true
  });
</script>

<meta property="og:url"                content="https://www.AllTokenData.com" />
<meta property="og:title"              content="All Token Data" />
<meta property="og:description"        content="Everything Crypto, everything here." />
<meta property="og:image"              content="styles/img/header.jpg" />
  
  <meta name="description" content="Crypto Coin Market, News, ICO Calendar,Exchange list, Event Calendar, and Forums">
  <meta name="keywords" content="ICO, Coinmarketcap, live, coins, tokens, token, cryptonews, exchange, coin list, coin data, token data, tokendata, alltokendata">


<!-- Select STUFF -->



<!-- <script>

var lightbool=true
    // Example: enable "Dark"
    function enablelight(){

      if(lightbool==true){
        //  document.getElementById('dark-styles').disabled  = true;
          //document.getElementById('light-styles').disabled = false;
          document.getElementById('myStyleSheet').href = "styles/css/dark_grey_adminux.css";
          lightbool=false;
      }
         else(){
          //document.getElementById('dark-styles').disabled  = false;
          //document.getElementById('light-styles').disabled = true;

          document.getElementById('myStyleSheet').href = "styles/css/light_adminux.css";
          lightbool=true;

      }
  }
</script> -->

<link rel="stylesheet" href="styles/css/responsive-tables.css" type="text/css">

<!-- Fontawesome icon CSS -->
<link rel="stylesheet" href="styles/vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="styles/vendor/bootstrap4beta/css/bootstrap.css" type="text/css">

<!-- DataTables Responsive CSS -->

<link href="styles/vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="styles/vendor/responsive-tables.css" rel="stylesheet">

<!-- jvectormap CSS -->
<link href="styles/vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet">

<!-- Adminux CSS -->
 <link rel="stylesheet" href="styles/css/light_adminux.css" type="text/css">
</head>
<body class="menuclose menuclose-right">
<!-- Page Loader -->
<div class="loader_wrapper align-items-center text-center">
  <div class="load7 load-wrapper">
    <img src="styles/img/logo.png" alt="" class="loading_img">
    <div class="loader"> Loading... </div>
    <div class="clearfix"></div>
    <br>
    <br>
    <br>
    <br>
    <h4 class="text-white">AllTokenData.com</h4>
    <p>Awesome things are getting ready...</p>
  </div>
</div>
<!-- Page Loader Ends -->

<header class="navbar-fixed">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
    <div class="sidebar-left"> <a class="navbar-brand imglogo" href="/"></a>
      <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse" ><span class="fa fa-bars"></span></button>
    </div>
   
    <div class="d-flex mr-auto"> &nbsp;</div>
    <ul class="navbar-nav content-right">
      <li class="v-devider"></li>
      
<li class="nav-item">
        <button class="btn btn-link icon-header badgeCircle" onclick="enablelight()" data-toggle="dropdown" id="theme" aria-haspopup="true" aria-expanded="false"><span class="fa fa-lightbulb-o"></span><span class="badge-number bg-danger"></span></button>
      
      </li>

      
      <li class="v-devider"></li>
      
    </ul>
    <div class="sidebar-right pull-right " >
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item">
          
          <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="#">Analytics Report</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Setting</a> </div>
        </li>
       
      </ul>
    </div>
  </nav>
</header>
<div class="sidebar-left">
  <div class="user-menu-items">
    <div class="list-unstyled btn-group">
      <span class="media-body">  <small></small> </span> </button>
      <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="inbox.html">Mailbox</a> <a class="dropdown-item" href="#">Application</a> <a class="dropdown-item" href="#">Analytics Report</a> <a class="dropdown-item" href="#">Preferances</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Setting</a> </div>
    </div>
  </div>
  <br>
  <ul class="nav flex-column in" id="side-menu">
   
    <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Coins</a>
      <!-- /.nav-second-level --> 
    </li>
    
      
    <li class="nav-item"> <a href="/news" class="menudropdown nav-link">News</i></a>
      <li class="nav-item"> <a href="/updates" class="menudropdown nav-link">Updates</i></a>
      
      <!-- /.nav-second-level --> 
    </li>

    </li>


  </li>
  </ul>
  <br>
  <br>
</div>

<style>
      tr:nth-of-type(even) {
      background-color:#f5f5f5;
    }
</style>


<!-- shit here -->
<div class="wrapper-content">
  
    <div class="row">
  <div class="col-lg-4">
  <div class="card" style="height: 5rem;">
        
          <div class="card-body" id='totalcap'>
          </div>
        </div>
      </div>
          
  <div class="col-lg-4">
  <div class="card" style="height: 5rem;">
        
          <div class="card-body" id="topdominance">
        </div>
    </div>
</div>
 <div class="col-lg-4">
  <div class="card" style="height: 5rem;">
    <div class="col-lg-12">
      <p><b> Currency Selection </b></p>
    <select class="form-control" id="money" onchange="changes()" data-live-search="true">

      <optgroup label="Common">
        <option value="USD($)" selected="selected" >USD</option>
        <option value="EUR(€)">EUR</option>
        <option value="GBP(£)">GBP</option>
        <option value="AUD($)">AUD</option>
        <option value="JPY(¥)">JPY</option>
      </optgroup>
      <optgroup label="Memes">
      </optgroup>
      <optgroup label="All">
        <!--<option value="BGN(лв)">BGN</option>-->
        <option value="BRL(R$)">BRL</option>
        <option value="CAD($)">CAD</option>
        <!--<option value="CHF(CHF)">CHF</option>-->
        <option value="CNY(¥)">CNY</option>
        <!--<option value="CZK(Kč)">CZK</option>-->
        <option value="DKK(kr)">DKK</option>
        <option value="HKD($)">HKD</option>
        <!-- <option value="HRK(kn)">HRK</option>-->
        <option value="HUF(Ft)">HUF</option>
        <!--<option value="IDR(Rp)">IDR</option>-->
        <!-- <option value="ILS(₪)">ILS</option> -->
        <!--<option value="INR(Rs)">INR</option> -->
        <option value="KRW(₩)">KRW</option>
        <option value="MXN($)">MXN</option>
        <!--<option value="MYR(RM)">MYR</option> -->
        <option value="NOK(kr)">NOK</option>
        <option value="NZD($)">NZD</option>
        <!--<option value="PHP(₱)">PHP</option> -->
        <!--<option value="PLN(zł)">PLN</option> -->
        <!--<option value="RON(lei)">RON</option> -->
        <option value="RUB(₽)">RUB</option>
        <option value="SEK(kr)">SEK</option>
        <option value="SGD($)">SGD</option>
        <!--<option value="THB(฿)">THB</option> -->
        <!--<option value="TRY(try)">TRY</option> -->
        <option value="ZAR(R)">ZAR</option>
        <option value="EUR(€)">EUR</option>
        <option value="GBP(£)">GBP</option>
        <option value="AUD($)">AUD</option>
        <option value="JPY(¥)">JPY</option>
        </optgroup>
    </select>
  </div>
        
          <div class="card-body" >
          </div>
        </div>
</div>
 <div class="col-lg-4">
  <div class="card" style="height: 5rem;">
        
          <div class="card-body" id='totalcoins'>
          </div>
        </div>
</div>
</div>



   
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
        
          <div class="card-body">
            <table class="responsive" id="example">
              <script type="text/javascript">

function changes(){

  $("#example").dataTable().fnDestroy();
  getdata();
}

function numberWithCommas(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
}


 
function getdata() {

  var priceobject;
  var conversion;
  var priceurl='https://api.fixer.io/latest?base=USD';
  var currency=document.getElementById("money").value;
  console.log(currency);

  if(currency=='USD($)'){

    conversion=1;

  }
  else{


fetch(priceurl)
.then(res => res.json())
.then((out) => {
  priceobject=out;
  console.log('Checkout this JSON! ', out);
  conversion=priceobject['rates'][currency.substring(0,3)];
  console.log(conversion);
})
.catch(err => { throw err });

  }
var coinprice;
var coinval;
var init,fin,sym;
  var coinlist=[];
    var coin=[];
  var url = 'https://api.coinmarketcap.com/v1/ticker/?limit=0';
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
          var json = JSON.parse(this.response);

          var totalmarketcap=0;
            for(i in json){
            coin=[];
            //console.log(json[i].name);

            var coinstring="<img src='styles/img/icons/"+json[i].name+".png'>"+" "+json[i].name;

            if(! isNaN(parseFloat(json[i].market_cap_usd))){

            totalmarketcap+=parseFloat(json[i].market_cap_usd);  
            //console.log(totalmarketcap);
          } 

            init = currency.indexOf("(");
              console.log(init);
            fin = currency.indexOf(")");
            sym=currency.substring(init+1,(fin));
            coinval=json[i].price_usd*conversion;
            coinval=numberWithCommas(parseFloat(coinval.toFixed(5)));  
            coinprice=""+sym+" "+coinval;


            coin.push(coinstring);
            coin.push(json[i].symbol);
            coin.push(coinprice);
            coin.push(""+sym+" "+numberWithCommas((json[i]['24h_volume_usd']*conversion)));
            coin.push(json[i].percent_change_1h+'%');
            coin.push(json[i].percent_change_24h+'%');
            coin.push(json[i].percent_change_7d+'%');
            coin.push(""+sym+" "+numberWithCommas((json[i].market_cap_usd*conversion)));
            coinlist.push(coin);
            }

             var cap= document.getElementById('totalcap');
              cap.textContent = "Total Market Cap: "+ (""+sym+" "+numberWithCommas(totalmarketcap*conversion.toFixed(0)))+"";
              cap.style.fontWeight='bold';

              var image = document.createElement("img");
              var imgdominance="<img src='styles/img/icons/"+json[0].name+".png'></img>"
              image.src ='styles/img/icons/Bitcoin.png'; 
              console.log(imgdominance);


              //$('#topdominance').prepend($('<img>',{id:'theImg',src:'styles/img/icons/Bitcoin.png'}))

              var dominance= document.getElementById('topdominance');
              //
              dominance.appendChild(image);
              dominance.innerHTML ="<img src='styles/img/icons/"+json[0].name+".png'></img> "+json[0].symbol+" Market Dominance: "+""+((json[0].market_cap_usd/totalmarketcap)*100).toString().substring(0,5)+" %";
              dominance.style.fontWeight='bold';
              //dominance.appendChild(image);
              var coinCount= document.getElementById('totalcoins');
              coinCount.textContent = "Number of Coins: "+numberWithCommas(coinlist.length)+"";
              coinCount.style.fontWeight='bold';

            /*
            //for (i in coinlist) {
                console.log(coinlist);
              // coinlist.push(result[i]);
                
                if (typeof callback === "function") {
                    // apply() sets the meaning of "this" in the callback
                    callback.apply(coinlist);
                }
               
          //}
            */
            //console.log(coinlist);
            $('#example').DataTable( {
              "order":[[3,"desc"]],
              "lengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]],
              "iDisplayLength":50,
                data:coinlist,
                columns: [
                    { title: "Name" },
                    { title: "Symbol" },
                    { title: "Price" },
                    { title: "24 Hour Volume" },
                    { title: "% Change last hour"  },
                    { title: "% Change last day" },
                    { title: "% Change last week" },
                    { title: "Market Cap" }
                ]
            } );

        }
    };
    xhr.send();



}


    
    



$(window).load(function() {


    var dataSet=getdata();


   
} );
</script>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
  </div>

 

<!-- jQuery first, then Tether, then Bootstrap JS. -->

<script src="styles/js/jquery-2.1.1.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> 

<script src="styles/vendor/bootstrap4beta/js/bootstrap.min.js" type="text/javascript"></script> 
    
<!--Cookie js for theme chooser and applying it --> 
<script src="styles/vendor/cookie/jquery.cookie.js"  type="text/javascript"></script> 

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="styles/js/ie10-viewport-bug-workaround.js"></script>

<!-- Circular chart progress js --> 
<script src="styles/vendor/cicular_progress/circle-progress.min.js" type="text/javascript"></script> 

<!--sparklines js--> 
<script type="text/javascript" src="styles/vendor/sparklines/jquery.sparkline.min.js"></script> 

<!-- jvectormap JavaScript --> 
<script src="styles/vendor/jquery-jvectormap/jquery-jvectormap.js"></script> 
<script src="styles/vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script> 

<!-- chart js --> 
<script src="styles/vendor/chartjs/Chart.bundle.min.js" type="text/javascript"></script> 
<script src="styles/vendor/chartjs/utils.js" type="text/javascript"></script> 

<!-- spincremente js --> 
<script src="styles/vendor/spincrement/jquery.spincrement.min.js" type="text/javascript"></script> 

<!-- DataTables JavaScript --> 
<script src="styles/vendor/datatables/js/jquery.dataTables.js"></script>
<script src="styles/vendor/datatables/js/dataTables.bootstrap4.js"></script>
<!--<script src="styles/vendor/datatables/js/dataTables.responsive.min.js"></script> -->

<!-- custome template js --> 
<script src="styles/js/adminux.js" type="text/javascript"></script> 
<script src="styles/js/dashboard1.js"></script>

<script src="styles/js/responsive-tables.js.js"></script>

<!-- Select STUFF -->



<h1 style="color: #f5f5f5; size: .01em;">
 Overview!
</h1>
<p style="color: #f5f5f5; size: .01em;">
Decentralized digital money is delivered by the whole cryptographic money framework aggregately, at a rate which is characterized when the framework is made and which is freely known. In incorporated managing an account and monetary frameworks, for example, the Federal Reserve System, corporate sheets or governments control the supply of cash by printing units of fiat cash or requesting augmentations to advanced saving money records. In the event of decentralized cryptographic money, organizations or governments can't deliver new units, and have not so far gave sponsorship to different firms, banks or corporate elements which hold resource esteem measured in it. The basic specialized framework whereupon decentralized cryptographic forms of money are based was made by the gathering or individual known as Satoshi Nakamoto.[10] 

As of September 2017, over a thousand cryptographic money determinations exist; most are like and got from the primary completely actualized decentralized digital currency, bitcoin. Inside digital currency frameworks the wellbeing, trustworthiness and adjust of records is kept up by a group of commonly skeptical gatherings alluded to as mineworkers: individuals from the overall population utilizing their PCs to help approve and timestamp exchanges adding them to the record as per a specific timestamping scheme.[11] Miners have a budgetary motivator to keep up the security of a cryptographic money record. 

Most digital forms of money are intended to continuously diminish creation of cash, putting an extreme top on the aggregate sum of cash that will ever be available for use, emulating valuable metals.[1][12] Compared with common monetary standards held by budgetary establishments or kept as money close by, digital forms of money can be more troublesome for seizure by law enforcement.[1] This trouble is gotten from utilizing cryptographic innovations. An essential case of this new test for law authorization originates from the Silk Road case, where Ulbricht's bitcoin stash "was held independently and ... encrypted."[13] Cryptocurrencies, for example, bitcoin are pseudonymous, however augmentations, for example, Zerocoin have been proposed, which would take into account genuine anonymity.[14][15][16] 
</p>

<h1 style="color: #f5f5f5; size: .01em;">
 History[edit]!
</h1>
<p style="color: #f5f5f5; size: .01em;">
In 1998, Wei Dai distributed a depiction of "b-cash", a mysterious, dispersed electronic money system.[17] Shortly from there on, Nick Szabo made "piece gold".[18] Like bitcoin and different digital currencies that would tail it, Bit Gold was an electronic money framework which expected clients to finish a proof of work with arrangements being cryptographically assembled and distributed. A cash framework in light of a reusable verification of work was later made by Hal Finney who took after crafted by Dai and Szabo. 

The principal decentralized digital money, bitcoin, was made in 2009 by pseudonymous designer Satoshi Nakamoto. It utilized SHA-256, a cryptographic hash work, as its verification of-work scheme.[11][19] In April 2011, Namecoin was made as an endeavor at shaping a decentralized DNS, which would make web control extremely troublesome. Before long, in October 2011, Litecoin was discharged. It was the main effective digital currency to utilize scrypt as its hash work rather than SHA-256. Another prominent digital money, Peercoin was the first to utilize a proof-of-work/confirmation of-stake hybrid.[20] IOTA was the primary cryptographic money not founded on a blockchain, and rather utilizes the Tangle.[21][22] Many different cryptographic forms of money have been made however few have been fruitful, as they have acquired little the method for specialized innovation.[23] On 6 August 2014, the UK reported its Treasury had been appointed to do an investigation of cryptographic forms of money, and what part, assuming any, they can play in the UK economy. The investigation was additionally to provide details regarding whether direction ought to be considered.[24] 
</p>

<h1 style="color: #f5f5f5; size: .01em;">
 Publicity[edit] 

Bitcoin ATM 
</h1>
<p style="color: #f5f5f5; size: .01em;">
National bank delegates have expressed that the selection of cryptographic forms of money, for example, bitcoin represent a critical test to national banks' capacity to impact the cost of credit for the entire economy.[25] They have likewise expressed that as exchange utilizing digital currencies turns out to be more well known, there will undoubtedly be lost shopper trust in fiat currencies.[26] Gareth Murphy, a senior focal keeping money officer has expressed "far reaching use [of cryptocurrency] would likewise make it more troublesome for measurable organizations to assemble information on financial action, which are utilized by governments to control the economy". He advised that virtual monetary forms represent another test to national banks' control over the essential elements of financial and conversion scale policy.[27] 

Jordan Kelley, originator of Robocoin, propelled the main bitcoin ATM in the United States on February 20, 2014. The stand introduced in Austin, Texas is like bank ATMs yet has scanners to peruse officially sanctioned recognizable proof, for example, a driver's permit or an identification to affirm clients' identities.[28] By September 2017 1574 bitcoin ATMs were introduced far and wide with a normal expense of 9.05%. A normal of 3 bitcoin ATMs were being introduced every day in September 2017.[29] 

The Dogecoin Foundation, a beneficent association based on Dogecoin and helped to establish by Dogecoin co-maker Jackson Palmer, gave more than $30,000 worth of Dogecoin to help subsidize the Jamaican sled group's outing to the 2014 Olympic amusements in Sochi, Russia.[30] The developing group around Dogecoin is hoping to bond its magnanimous accreditations by raising assets to support benefit mutts for kids with uncommon needs.[31] 
</p>

<h1 style="color: #f5f5f5; size: .01em;">
Legality[edit] 
</h1>
<p style="color: #f5f5f5; size: .01em;">
The legitimate status of digital forms of money shifts considerably from nation to nation is as yet indistinct or changing in a considerable lot of them. While a few nations have unequivocally permitted their utilization and exchange, others have prohibited or limited it. Similarly, different government organizations, divisions, and courts have arranged bitcoins in an unexpected way. China Central Bank prohibited the treatment of bitcoins by money related establishments in China amid an amazingly quick selection period in mid 2014.[32] In Russia, however digital forms of money are legitimate, it is unlawful to really buy products with any cash other than the Russian ruble.[33] 

On March 25, 2014, the United States Internal Revenue Service (IRS) decided that bitcoin will be dealt with as property for charge purposes instead of cash. This implies bitcoin will be liable to capital additions charge. One advantage of this decision is that it clears up the lawfulness of bitcoin. Never again do financial specialists need to stress that interests in or benefit produced using bitcoins are illicit or how to report them to the IRS.[34] In a paper distributed by scientists from Oxford and Warwick, it was demonstrated that bitcoin has a few attributes more like the valuable metals advertise than customary monetary standards, thus in concurrence with the IRS choice regardless of the possibility that in view of various reasons.[35] 
</p>

<h1 style="color: #f5f5f5; size: .01em;">
More info
</h1>
<p style="color: #f5f5f5; size: .01em;">
Lawful issues not managing governments have additionally emerged for cryptographic forms of money. Coinye, for instance, is an altcoin that utilized rapper Kanye West as its logo without consent. After becoming aware of the arrival of Coinye, initially called Coinye West, lawyers for Kanye West sent a stop this instant letter to the email administrator of Coinye, David P. McEnery Jr. The letter expressed that Coinye was headstrong trademark encroachment, out of line rivalry, cyberpiracy, and weakening and trained Coinye to quit utilizing the resemblance and name of Kanye West.[36] 
</p>

<h1 style="color: #f5f5f5; size: .01em;">
Worries of an unregulated worldwide economy[edit] 
</h1>
<p style="color: #f5f5f5; size: .01em;">
As the ubiquity of and interest for online monetary standards increments since the initiation of bitcoin in 2009,[37][38] so do worries that such an unregulated individual to individual worldwide economy that digital currencies offer may turn into a danger to society. Concerns flourish that altcoins may move toward becoming instruments for unknown web criminals.[39] 

Digital currency systems show a stamped absence of control that pulls in numerous clients who look for decentralized trade and utilization of cash; however the exceptionally same absence of directions has been evaluated as possibly empowering lawbreakers who try to dodge charges and launder cash.
</p>

<h1 style="color: #f5f5f5; size: .01em;">
more
</h1>
<p style="color: #f5f5f5; size: .01em;">
Exchanges that happen through the utilization and trade of these altcoins are autonomous from formal managing an account frameworks, and consequently can make tax avoidance more straightforward for people. Since graphing assessable wage depends on what a beneficiary reports to the income benefit, it turns out to be greatly hard to represent exchanges made utilizing existing digital forms of money, a method of trade that is perplexing and (now and again) difficult to track.[39] 

Frameworks of secrecy that most digital forms of money offer can likewise fill in as a less complex intends to launder cash. As opposed to laundering cash through a complex net of budgetary on-screen characters and seaward financial balances, laundering cash through altcoins can be accomplished through unknown transactions.[39] 
</p>

<h1 style="color: #f5f5f5; size: .01em;">
Fraud[edit] 
</h1>
<p style="color: #f5f5f5; size: .01em;">
On August 6, 2013, Magistrate Judge Amos Mazzant of the Eastern District of Texas government court decided that since digital money (explicitly bitcoin) can be utilized as cash (it can be utilized to buy products and enterprises, pay for singular everyday costs, and traded for regular monetary standards), it is a money or type of cash. This decision took into consideration the SEC to have purview over instances of securities extortion including cryptocurrency.[40] 

GBL, a Chinese bitcoin exchanging stage, all of a sudden close down on October 26, 2013. Supporters, unfit to sign in, lost up to $5 million worth of bitcoin.[41][42] 
</p>

<h1 style="color: #f5f5f5; size: .01em;">
More!
</h1>
<p style="color: #f5f5f5; size: .01em;">
In February 2014, digital currency stood out as truly newsworthy because of the world's biggest bitcoin trade, Mt. Gox, going into chapter 11. The organization expressed that it had lost about $473 million of their client's bitcoins likely because of burglary. This was identical to roughly 750,000 bitcoins, or around 7% of all the bitcoins in presence. Because of this emergency, among different news, the cost of a bitcoin tumbled from a high of about $1,160 in December to under $400 in February.[43] 

On March 31, 2015, two now-previous specialists from the Drug Enforcement Administration and the U.S. Mystery Service were accused of

</p>

</body>
</html>
