<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../favicon.ico">
<title>AllTokenData.com</title>

<link rel="stylesheet"           href="main.css">
<link rel="stylesheet alternate" href="styles/css/light_adminux.css" title="Light">
<link rel="stylesheet alternate" href="styles/css/dark_grey_adminux.css"  id="darkTheme"  title="Dark">

<script src="styles/js/theme.js"></script>
<script src="styles/js/jquery.cookie.js"></script>

<link rel="stylesheet" href="styles/css/rssfeed.css">

<!-- <script>

var lightbool=true
    // Example: enable "Dark"
    function enablelight(){

      if(lightbool==true){
        //  document.getElementById('dark-styles').disabled  = true;
          //document.getElementById('light-styles').disabled = false;
          document.getElementById('myStyleSheet').href = "styles/css/dark_grey_adminux.css";
          lightbool=false;
      }
         else(){
          //document.getElementById('dark-styles').disabled  = false;
          //document.getElementById('light-styles').disabled = true;

          document.getElementById('myStyleSheet').href = "styles/css/light_adminux.css";
          lightbool=true;

      }
  }
</script> -->

<!-- Fontawesome icon CSS -->
<link rel="stylesheet" href="styles/vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="styles/vendor/bootstrap4beta/css/bootstrap.css" type="text/css">

<!-- DataTables Responsive CSS -->
<link href="styles/vendor/datatables/css/dataTables.bootstrap4.css" rel="stylesheet">
<link href="styles/vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet">

<!-- jvectormap CSS -->
<link href="styles/vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet">

<!-- Adminux CSS -->
 <link rel="stylesheet" href="styles/css/light_adminux.css" type="text/css">
</head>
<body class="menuclose menuclose-right">
<!-- Page Loader -->
<div class="loader_wrapper align-items-center text-center">
  <div class="load7 load-wrapper">
    <img src="styles/img/logo.png" alt="" class="loading_img">
    <div class="loader"> Loading... </div>
    <div class="clearfix"></div>
    <br>
    <br>
    <br>
    <br>
    <h4 class="text-white">AllTokenData.com</h4>
    <p>Awesome things are getting ready...</p>
  </div>
</div>
<!-- Page Loader Ends -->

<header class="navbar-fixed">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
    <div class="sidebar-left"> <a class="navbar-brand imglogo" href="/"></a>
      <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse" ><span class="fa fa-bars"></span></button>
    </div>
   
    <div class="d-flex mr-auto"> &nbsp;</div>
    <ul class="navbar-nav content-right">
      <li class="v-devider"></li>
      
<li class="nav-item">
        <button class="btn btn-link icon-header badgeCircle" onclick="enablelight()" data-toggle="dropdown" id="theme" aria-haspopup="true" aria-expanded="false"><span class="fa fa-lightbulb-o"></span><span class="badge-number bg-danger"></span></button>
      
      </li>

      
      <li class="v-devider"></li>
      
    </ul>
    <div class="sidebar-right pull-right " >
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item">
          
          <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="#">Analytics Report</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Setting</a> </div>
        </li>
       
      </ul>
    </div>
  </nav>
</header>
<div class="sidebar-left">
  <div class="user-menu-items">
    <div class="list-unstyled btn-group">
      <span class="media-body">  <small></small> </span> </button>
      <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="inbox.html">Mailbox</a> <a class="dropdown-item" href="#">Application</a> <a class="dropdown-item" href="#">Analytics Report</a> <a class="dropdown-item" href="#">Preferances</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Setting</a> </div>
    </div>
  </div>
  <br>
  <ul class="nav flex-column in" id="side-menu">
   
    <li class="nav-item "> <a href="/" class="menudropdown nav-link">Coins</a>
      <!-- /.nav-second-level --> 
    </li>
    
      
    <li class="nav-item"> <a href="/news" class="menudropdown nav-link">News</i></a>
      <li class="nav-item"> <a href="/updates" class="menudropdown nav-link">Updates</i></a>
      
      <!-- /.nav-second-level --> 
    </li>


  </li>
  </ul>
  <br>
  <br>
</div>
<div class="wrapper-content">
  <div class="container">
      <div class="col-sm-16">
      <br>
        <h3>News</h3>
        <p></p>
      </div>
    </div>



<div class="card">
              <div class="card-body"style="margin-left:-3%; padding: 0px;">

              
<ul id="Newsfeed"></ul>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdn.rawgit.com/sekando/feednami-client/master/releases/1.0.2.min.js'></script>

    <script  src="styles/js/news.js"></script>

            </div>
         </div>
</div>

 

<!-- jQuery first, then Tether, then Bootstrap JS. -->

<script src="styles/js/jquery-2.1.1.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> 

<script src="styles/vendor/bootstrap4beta/js/bootstrap.min.js" type="text/javascript"></script> 
    
<!--Cookie js for theme chooser and applying it --> 
<script src="styles/vendor/cookie/jquery.cookie.js"  type="text/javascript"></script> 

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="styles/js/ie10-viewport-bug-workaround.js"></script>

<!-- Circular chart progress js --> 
<script src="styles/vendor/cicular_progress/circle-progress.min.js" type="text/javascript"></script> 

<!--sparklines js--> 
<script type="text/javascript" src="styles/vendor/sparklines/jquery.sparkline.min.js"></script> 

<!-- jvectormap JavaScript --> 
<script src="styles/vendor/jquery-jvectormap/jquery-jvectormap.js"></script> 
<script src="styles/vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script> 

<!-- chart js --> 
<script src="styles/vendor/chartjs/Chart.bundle.min.js" type="text/javascript"></script> 
<script src="styles/vendor/chartjs/utils.js" type="text/javascript"></script> 

<!-- spincremente js --> 
<script src="styles/vendor/spincrement/jquery.spincrement.min.js" type="text/javascript"></script> 



<!-- custome template js --> 
<script src="styles/js/adminux.js" type="text/javascript"></script> 
<script src="styles/js/dashboard1.js"></script>
</body>
</html>