<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Project Dawn</title>

  <!-- Coin Chart-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/css/style.css"/>
  <!-- Bootstrap core CSS-->

  <link rel='stylesheet' href='/styles/vendor/bootstrap/css/darklybootstrap.min.css' />
  <link rel='stylesheet' href='/styles/css/tabs.css' />
  <link rel='stylesheet' href='/styles/css/sb-admin.css' />

  <!-- Custom fonts for this template-->
  <link rel='stylesheet' href='/styles/vendor/font-awesome/css/font-awesome.min.css' />
  
  
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
  type="text/javascript"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Project Dawn</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-circle"></i>
            <span class="nav-link-text">Coins</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Exchanges</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="News">
          <a class="nav-link" href="news">
            <i class="fa fa-fw fa-newspaper-o"></i>
            <span class="nav-link-text">News</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-chain"></i>
            <span class="nav-link-text">Social</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-calendar"></i>
            <span class="nav-link-text">ICO Calander</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-bullhorn"></i>
            <span class="nav-link-text">Event Calander</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-book"></i>
            <span class="nav-link-text">Forums</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
        
        </li>
        
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="color:orange;">
            <i class="fa fa-fw fa-plus-square"></i> Submit New</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Coins</a>
        </li>

      </ol>
      
      <!-- Charts-->
<div class="row">
    <div class="col-12">
       <div class="card mb-3">
            <div class="card-header" style="color:white; background-color:#2b7e9c; font-size: 20px;"><center> CHARTS </center>
              

            </div>
            <div class="card-body">
              <button href="https://api.coinmarketcap.com/v1/ticker/">SHOW ALL</button>
              <hr>

              <!-- TESTING GRAPH -->
<script type="text/javascript">
  
function getdata() {

  var coinlist=[];
    var coin=[];
  var url = 'https://api.coinmarketcap.com/v1/ticker/?limit=25';
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
          var json = JSON.parse(this.response);
            for(i in json){
            coin=[];
            //console.log(json[i].name);    
            coin.push(json[i].symbol);
            coin.push(json[i].name);
            coin.push(json[i].price_usd);
            coin.push(json[i]['24h_volume_usd']);
            coin.push(json[i].percent_change_1h);
            coin.push(json[i].percent_change_24h);
            coin.push(json[i].percent_change_7d);
            coinlist.push(coin);
            }

            /*
            //for (i in coinlist) {
                console.log(coinlist);
              // coinlist.push(result[i]);
                
                if (typeof callback === "function") {
                    // apply() sets the meaning of "this" in the callback
                    callback.apply(coinlist);
                }
               
          //}
            */
            console.log(coinlist);
            $('#example').DataTable( {
              "order":[[3,"desc"]],
                data:coinlist,
                columns: [
                    { title: "Symbol" },
                    { title: "Name" },
                    { title: "Price" },
                    { title: "24 Hour Volume" },
                    { title: "% Change last hour"  },
                    { title: "% Change last day" },
                    { title: "% Change last week" }
                ]
            } );

        }
    };
    xhr.send();
}


    
    



$(window).load(function() {
    var dataSet=getdata();
} );
</script>

<table id="example" class="display" width="100%"></table>


              <!-- END TESTING GRAPH -->
              

              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">I Did not recieve a code?</div>
          </div>
</div>
    <!-- END Charts-->

    <!-- WEBSITE LINK, Whitepaper, etc-->
<div class="col-3">
      <div class="card mb-3">
          <div class="card-header" style="color:white; background-color:#00c1a5; font-size: 20px;"> <center>SITE INFO</center>
              

            </div>
            <div class="card-body">
              
              <hr>
              <p>Whitepaper</p>
              <p>Website</p>
              <p>More</p>

              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">I Did not recieve a code?</div>
          </div>
</div>
<div class="col-3">
      <div class="card mb-3">
          <div class="card-header" style="color:white; background-color:#ff851b; font-size: 20px;"> <center>CALENDAR</center>
              

            </div>
            <div class="card-body">
              
              <hr>
              <p>ICO date</p>

              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">I Did not recieve a code?</div>
          </div>
</div>
</div>

    <!-- END WEBSITE LINK, Whitepaper, etc-->
    <!-- Start News-->

<div class="row">
    <div class="col-5">
       <div class="card mb-3">
            <div class="card-header" style="color:white; background-color:#f62a66; font-size: 20px;"> <center>NEWS</center>
              

            </div>
            <div class="card-body">
<iframe width="100%" height="200px" style="border:none;" src="http://output74.rssinclude.com/output?type=iframe&amp;id=1158727&amp;hash=543884b42f2afbf540dec95af580d3fd"></iframe>

              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">I Did not recieve a code?</div>
          </div>
</div>
    <!-- END News-->

    <!-- Start Ad-->
<div class="col-3">
      <div class="card mb-3">
          <div class="card-header" style="color:white; background-color:#000000; font-size: 20px;"> <center>AD</center>
              

            </div>
            <div class="card-body">

              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">I Did not recieve a code?</div>
          </div>
</div>
    <!-- END Ad-->
    <!-- Start Social Media-->

<div class="col-4">
      <div class="card mb-3">
          <div class="card-header" style="color:white; background-color:#00c0ef; font-size: 20px;"> <center>SOCIAL MEDIA</center>

            </div>
            <div class="card-body">
              <p>Facebook</p>
            <p>Twitter</p>
            <p>LinkedIn</p>

              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">I Did not recieve a code?</div>
          </div>
</div>
</div>

<!-- END Social Media-->

    <!-- Start News-->

<div class="row">
    <div class="col-9">
       <div class="card mb-3">
            <div class="card-header">
              

            </div>
            <div class="card-body">
              <center>
              <h1>RoadMap?</h1>
              </center>
              <hr>
              <p>dates</p>

              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">I Did not recieve a code?</div>
          </div>
</div>
    <div class="col-3">
       <div class="card mb-3">
            <div class="card-header">
              

            </div>
            <div class="card-body">
              <center>
              <h1>Ad</h1>
              </center>
              <hr>

              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">I Did not recieve a code?</div>
          </div>
</div>
</div>
    <!-- END News-->

    <div class="row">
    <div class="col-12">
       <div class="card mb-3">
            <div class="card-header">
              

            </div>
            <div class="card-body">
              <center>
              <h1>Banner Ad</h1>
              </center>
              <hr>
              <p>ad</p>

              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">I Did not recieve a code?</div>
          </div>
</div>




    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Project Dawn 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/styles/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/styles/vendor/popper/popper.min.js"></script>
    <script type="text/javascript" src="/styles/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/styles/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/styles/vendor/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="/styles/vendor/datatables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/styles/js/sb-admin.min.js"></script>
    <script type="text/javascript" src="/styles/js/sb-admin-datatables.min.js"></script>
    <script type="text/javascript" src="/styles/js/sb-admin-charts.min.js"></script>
    <script type="text/javascript" src="/styles/js/tabs.js"></script>

    <script type="text/javascript" src="/styles/js/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" src="/styles/js/datatables.min.js"></script>

<!-- Angular Table -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>



    <link rel='javascript' href='/styles/vendor/jquery/jquery.min.js'
  </div>
</body>

<style type="text/css">
@import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");

#feedControl {
margin-top : 10px;
margin-left: auto;
margin-right: auto;
width : 440px;
font-size: 12px;
color: #9CADD0;
}
</style>
<script type="text/javascript">
function load() {
var feed ="http://feeds.bbci.co.uk/news/world/rss.xml";
new GFdynamicFeedControl(feed, "feedControl");

}
google.load("feeds", "1");
google.setOnLoadCallback(load);
</script>

</html>
