#Newsfeed {
  margin: auto;
  padding-top: 25px;
  padding-bottom: 65px;
  max-width: 1580px;
  padding-left: .5%;

}

.RSScard {
	padding: 1px 6px;
	margin-left: 20px;
	margin-top: 20px;
	width: 350px;
	height: 270px;
	opacity: 0.95;
	color: #ffffff;
    padding: 1px;
  	font-size: 0.85em;
	text-align: left;
	overflow: hidden;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
	float:left;
  
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.RSScard a {
	text-decoration: none;
	color: #ededed;
  	font-size: 16px;
	font-weight: 300;
	opacity: 1;
}

.RSScard:hover {
	opacity: 1;
	background-color: #202B33;
}

h2 {
	line-height: .9;
	text-decoration: none;
}

h4 {
	line-height: .9;
	text-decoration: none;
}

.dsg34 {
	background: #000000;
    float: left;
    margin-top: auto;
    width: 100%;
    padding-left: 7px;
    margin-top: -16px;
}

p {
	background: #000000;
	opacity: 0.9;
}

.descrip1 {
	font-size:10px; 
	align:right; 
	font-color: #ffffff;
	background-color: #000000
}